{% extends "../layout/base.html" %}

{% block content %}
<div class="container my-3">
    <h1 class="display-6 border-bottom py-2">#{{ question.id }} {{ question.subject }}</h1>
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ question.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">{{ question.author.username }}</div>
                &nbsp;
                <div class="badge bg-light text-dark p-2">
                {% if question.modified_at > question.created_at %}
                    {{ question.modified_at }}(수정됨)
                {% else %}
                    {{ question.created_at }}
                {% endif %}
                </div>
            </div>
            <div class="mt-3">
                {# 질문 좋아요 처리 #}
                <a  href="javascript:void(0)"
                    data-uri="{% url 'qna:question_vote' question_id=question.id %}"
                    class="btn btn-sm btn-outline-secondary recommend">
                    추천
                    <span class="badge rouned-pill bg-success">{{ question.voters.count }}</span>
                </a>

                {# 작성자 본인 또는 관리자에게만 수정/삭제 버튼 노출 #}
                {% if request.user == question.author or request.user.is_staff %}
                <a href="{% url 'qna:question_modify' question_id=question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>

                <form 
                    action="{% url 'qna:question_delete' question_id=question.id %}" 
                    method="post" 
                    class="d-inline" 
                    onsubmit="return confirm('정말 삭제하시겠습니까?')">
                    {% csrf_token %}
                    <button class="btn-sm btn btn-outline-danger">삭제</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="my-3">
        <a class="link-primary" href="{% url 'qna:index' %}">목록보기</a>
    </div>
</div>

<!-- 답변 목록 시작 -->
<h5 class="border-bottom my-3 py-2">{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
{% for answer in question.answer_set.all %}
<div id="answer_{{ answer.id }}" class="card my-3">
    <div class="card-body">
        <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
        <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2 text-start">{{ answer.author.username }}</div>
            &nbsp;
            <div class="badge bg-light text-dark p-2 text-start">{{ answer.created_at }}</div>
        </div>
        <div class="mt-3">
            {# 답변 좋아요 처리 #}
            <a  href="javascript:void(0)"
                data-uri="{% url 'qna:answer_vote' answer_id=answer.id %}"
                class="btn btn-sm btn-outline-secondary recommend">
                추천
                <span class="badge rouned-pill bg-success">{{ answer.voters.count }}</span>
            </a>

            {% if user == answer.author or user.is_staff %}
            <a  href="javascript:void(0)" 
                data-bs-toggle="modal"
                data-bs-target="#answerModifyModal"
                data-answer-id="{{ answer.id }}"
                data-answer-content="{{ answer.content }}"
                class="btn btn-sm btn-outline-secondary">수정</a>
            <a 
                href="#" 
                class="btn btn-sm btn-outline-danger delete"
                data-uri="{% url 'qna:answer_delete' answer_id=answer.id %}?question_id={{ question.id }}">삭제</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
<!-- 답변 목록 끝 -->

<!-- 답변 등록 시작 -->
<form 
    name="answerCreateFrm"
    action="{% url 'qna:answer_create' question_id=question.id %}" 
    method="post" class="my-3">
    {% csrf_token %}
    <div class="mb-3">
        <label for="content" class="form-label">답변내용</label>
        <textarea name="content" id="content" class="form-control" rows="10" required></textarea>
    </div>
    <input type="submit" value="답변등록" class="btn btn-primary">
</form>
<!-- 답변 등록 끝 -->

<!-- 답변 삭제 폼 시작 -->
<form action="" name="answerDeleteFrm" method="post">
    {% csrf_token %}
</form>
<!-- 답변 삭제 폼 끝 -->


<!-- 답변수정 Modal 시작 -->
<div class="modal fade" id="answerModifyModal" tabindex="-1" aria-labelledby="answerModifyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="answerModifyModalLabel">답변수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="answerModifyFrm" method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                    <textarea name="content" id="content-modify" class="form-control" rows="10" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 답변수정 Modal 끝 -->
{% endblock %}


{% block script %}
<script>

// 답변등록전 로그인처리 안내
document.answerCreateFrm.onsubmit = () => {
    {% if user.is_anonymous %}
        if (confirm('로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까?')) {
            location.href = "{% url 'uauth:login' %}?next={{ request.path }}"
        }
        return false; // 제출 방지
    {% endif %}
};

// 답변 수정 modal 처리
const $answers = document.querySelectorAll('[data-answer-id]');
Array.from($answers).forEach(($a) => {
    $a.addEventListener('click', (e) => {
        // console.log(e.target.dataset.answerId);
        // console.log(e.target.dataset.answerContent);
        document.answerModifyFrm.action = `/qna/answer/modify/${e.target.dataset.answerId}?question_id={{ question.id }}`;
        document.querySelector('#content-modify').textContent = e.target.dataset.answerContent;
    });
});


// 답변 삭제 처리
const $deletes = document.querySelectorAll('.delete');
Array.from($deletes).forEach(($elem) => {
    $elem.addEventListener('click', (e) => {
        // console.log(e.target.dataset.uri); // data-uri
        if (confirm('이 답변을 정말 삭제하시겠습니까?')) {
            const $frm = document.answerDeleteFrm;
            $frm.action = e.target.dataset.uri;
            $frm.submit();
        }
    });
});


// 질문/답변 좋아요 처리
const $recommends = document.querySelectorAll('.recommend');
Array.from($recommends).forEach(($tag) => {
    $tag.addEventListener('click', async (e) => {
        // console.log($tag.dataset.uri);

        try {
            const response = await fetch($tag.dataset.uri, {
                method: 'POST',
                headers: {
                    'Content-type': 'appplication/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    message: 'Hello world'
                })
            });
            const data = await response.json();
            // console.log(data);
            if (data.result == 'success') {
                $tag.querySelector('span').textContent = data.vote_count;
            }
            else {
                alert(data.message);
            }
        } catch(e) {
            console.error(e);
        }
    });
});

</script>
{% endblock %}