<!-- 질문을 작성하거나 수정할 때 사용하는 입력 폼 화면 템플릿 -->
{% extends '../layout/base.html' %}

{% block content %}

<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문등록</h5>

    <!-- 오류메시지 시작 -->
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field in form %}
            {% if field.errors %}
                <div>
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <!-- 오류메시지 끝 -->

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="subject" class="form-label">{{ form.subject.label }}</label>
            <input type="text" class="form-control" name="subject" id="subject"
                value="{{ form.subject.value | default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">{{ form.content.label }}</label>
            <textarea class="form-control" name="content" id="content"
                rows="10">{{ form.content.value | default_if_none:'' }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock content %}